@media screen and (max-width: 576px) {
  .header-container h1{
    font-size: 2.5rem;
  }
  .header-container{
    height: 400px;
    background-repeat: no-repeat;
    background-size: 400px 400px;
 
    border: 1px solid rebeccapurple;
  } 
  .offer-65 img{
    width: 100%;
  }
  
  .welcome-container{
    flex-direction: column;
    background-size: 700px 800px;
    
 
  }
  .welcome-content{
    width: 100%;
  }
  .welcome-2024 img{
    width: 200px;
    margin-left: 0 auto;
  }
  .coming-soon, .coming-soon-img{
    flex-direction: column;
 
  }
  .coming-soon-child, .coming-soon-img, .coming-soon-content{
  width: 100%;
 }
 
 .discounts-50 :nth-child(3){
 width: 100%;
 margin: 1rem auto;
}

.discounts-50-container{
  
  margin-top: 200px;}
  
  


.discounts-50-container :nth-child(1){
  width: 200px;
  position: absolute;
  left: 0;
 
  bottom: 30px;

}
.discounts-50-container :nth-child(2){
  width: 150px;
  bottom: 100px;
  right: 20px;
}

  
}